html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally.
  justify-content: center;

   This centers our sketch vertically. 
  align-items: center; */

  background: url('http://127.0.0.1:8080/img/candle.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}